*
{

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}

.full-page
{
    height: 100vh;
    width: 100%;
    background-image: url("moon.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

}



.navigation-bar

{

    display: flex;

    align-items: center;

    padding: 20px;

    padding-left: 80px;

    padding-right: 30px;

    padding-top: 50px;

}

.logo

{
    position: fixed;
    margin-top: 10px;
}

.logo a

{
    text-decoration: none;
    color: white;
    font-size: 40px;

}

nav

{

    flex: 1;
    position: fixed;
    right: 0;

}

nav ul 
{
    display: inline-block;
    list-style: none;
}

nav ul li

{

    display: inline-block;

    margin-right: 90px;

    margin-top: 17px;

}

nav ul li a

{

    text-decoration: none;

    font-size: 20px;

    color: white;

    font-family: sans-serif;

}

nav ul li a:hover

{
   
    color: rgb(50, 194, 230);

}

.row

{

    display: flex;

    align-items: center;

    flex-wrap: wrap;

    justify-content: space-around;

}

.col-1

{

    flex-basis: 50%;

    min-width: 300px;

}
.form-box

{

    width: 300px;
    height: 400px;
    position: relative;
    top: 50px;
    left: 100px;
    margin-top:-20px;
	background: rgba(10, 10, 30,  0.6);
   

}
.form-box:hover
{
    box-shadow: 10px 10px 20px 10px rgb(31, 173, 255);
    cursor: pointer;
}
.form-box2:hover
{
    box-shadow: 5px 5px 20px 10px rgb(76, 243, 43);
    cursor: pointer;
}
.form-box2
{

    width: 300px;

	height: 450px;

	margin-right:100px ;
    
    margin-top: 80px;
   
    left: 300px;
   
	background: rgba(0, 0, 0, 0.384);

}

.main-heading

{ 

    font-family: 'Segoe UI';
    color: rgb(54, 255, 47);
    
    padding-bottom: 20px;

}
.main-heading1

{ 

    font-family:'Gill Sans';
    color: rgb(61, 250, 225);
    padding-bottom: 20px;
}

.form

{

	position: relative;

	margin: 0 auto 100px;

	padding: 45px;

    text-align: center;

}
.form

{

	position: left;

	margin: 0 auto 100px;

	padding: 45px;

    text-align: center;

}
.form input
{

	font-family: sans-serif;

	outline: none;

    border: none;

    border-bottom: 1px solid black;

	width: 100%;

	margin: 0 0 15px;

	padding: 15px;

	font-size: 14px;


}

.loginb

{
    
    background-color: rgb(73, 241, 219);

	font-family: sans-serif;

	width: 100%;

    color: rgb(0, 0, 0);

	font-size: 14px;

    border-color: rgb(73, 241, 219);
    
    padding: 15px;


}

.loginb:hover{
   
    box-shadow:0 8px 16px rgb(69, 255, 246) ;
    
    cursor: pointer;
}
.registerb

{
    
    background-color: rgb(54, 255, 47);

	font-family: sans-serif;

	width: 100%;

    color: rgb(0, 0, 0);

	font-size: 14px;

    border-color: rgb(54, 255, 47);
    
    padding: 15px;


}

.registerb:hover{
   
    box-shadow:0 8px 16px rgb(69, 255, 69) ;
    
    cursor: pointer;
}


.form .message

{

    font-size: 12px;

	margin: 15px 0 0;

    color: rgb(240, 0, 0);

}






