body{
    
    background-image: url('D:\Data\sai\kana\1st birthday\pic.jpg');
}
h1{
    color: blueviolet;
    text-align: center;
    font-style: inherit;
    border: 20px solid yellow;
    background-color: brown;
    margin: 80px;
    
}
p{
    color:rgb(212, 0, 255);
    text-align: center;
    font-style: oblique;
    font-size: xx-large;
    padding: 30px;
    background-color: rgb(44, 43, 43);
    margin: 50px;

}